<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Upload</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/form-elements.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link href="static/css/jquery.filer.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="static/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="static/ico/apple-touch-icon-57-precomposed.png">

</head>

<body>

    <!-- Top content -->
    <div class="top-content">
      <div class="inner-bg">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text">
              <h1>Remote compiler</h1>
            </div>
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3 form-box">
                <div class="form-top">
                  <div class="form-top-left">
                    <h3>Upload files</h3>
                    <p>Ingrese los archivos a compilar:</p>
                  </div>
                </div>
                <div class="form-bottom">
                  <form action="upload" method="post" enctype="multipart/form-data">
                    <input type="file" name="files[]" id="filer_input" multiple="multiple">
                    <div class="form">
                      <form>
                        <div class="form-group">
                          <label for="selectArq">Arquitectura: </label>
                          <select class="form-control" name="selectArq" id="selectArq">
                            <option>linux64</option>
                            <option>linux32</option>
                          <!--  <option>windows32</option>
                            <option>windows64</option> -->
                          </select>
                        </div>
                        <label for="outputName">Nombre de compilado:  </label>
                        <input type="text" class="form-control" name="outputName" id="outputName" value="main.o">
                        <button type="submit" class="btn btn-default">Submit</button>
                      </form>
                    </div>
                    {% if error %}
                      <div class="text-center">
                        <p class=error style="color:#C70039"><strong>Error:</strong> {{ error }}
                      </div>
                    {% endif %}
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Javascript -->
    <script src="static/js/jquery-1.11.1.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/jquery.backstretch.js"></script>
    <script src="static/js/scripts.js"></script>
    <script src="static/js/jquery.filer.min.js" type="text/javascript"></script>
    <script src="static/js/custom.js" type="text/javascript"></script>

    <!--[if lt IE 10]>
            <script src="static/js/placeholder.js"></script>
        <![endif]-->

</body>

</html>
