<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Update users</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/font-awesome/css/font-awesome.min.css">
    <!---<link rel="stylesheet" href="static/css/form-elements.css">--->
    <link rel="stylesheet" href="static/css/style.css">
    <link href="static/css/jquery.filer.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="static/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="static/ico/apple-touch-icon-57-precomposed.png">

</head>

<body>

    <!-- Top content -->
    <div class="top-content">
      <div class="inner-bg">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text">
              <h1>Remote compiler</h1>
            </div>
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3 form-box">
                <div class="form-top">
                  <div class="form-top-left">
                    <h3>Update users</h3>
                    <p>Agregue nuevos usuarios:</p>
                  </div>
                </div>
                <div class="form-bottom">
                  <form class="form-inline" method="post">
                    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" name="username" placeholder="Username">

                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <button type="submit" name="add-user" class="btn btn-success">Add user</button>
                    </div>
                    <div class="flashes">
                      {% if error %}
                      <div class="text-center">
                        <p class=error style="color:#C70039"><strong>Error:</strong> {{ error }}
                      </div>
                      {% else %}
                      <table class="table invert-color">
                        <thead>
                          <tr>
                            <th>Usuarios</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for user in get_flashed_messages() %}
                          <tr>
                            <td>{{ user }}</td>
                            <td>
                              <button type="submit" name={{user}} class="btn btn-danger">Delete user</button>
                            </td>
                          </tr>
                          {% endfor %}
                        {% endif %}
                      </div>
                    </form>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



    <!-- Javascript -->
    <script src="static/js/jquery-1.11.1.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/jquery.backstretch.js"></script>
    <script src="static/js/scripts.js"></script>
    <script src="static/js/jquery.filer.min.js" type="text/javascript"></script>
    <script src="static/js/custom.js" type="text/javascript"></script>

    <!--[if lt IE 10]>
            <script src="static/js/placeholder.js"></script>
        <![endif]-->

</body>

</html>
